@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-eb-garamond {
  font-family: 'EB Garamond', serif;
}
